@import url('https://fonts.googleapis.com/css2?family=Heebo:wght@100..900&family=Lexend:wght@100..900&family=Noto+Sans+TC:wght@100..900&display=swap');

$white: #fff;

$primary-50: #E6F7FF;
$primary-100: #C8EDFF;
$primary-200: #A4D4EC;
$primary-300: #7DB5D1;
$primary-400: #5E97B4;
$primary-500: #427995;
$primary-600: #2D5F78;
$primary-700: #1C465B;
$primary-800: #0F2D3C;
$primary-900: #000F17;

$secondary-50: #FFF8F0;
$secondary-100: #FFEBD4;
$secondary-200: #FFDDB3;
$secondary-300: #F9C78B;
$secondary-400: #EFB066;
$secondary-500: #E09843;
$secondary-600: #C87D24;
$secondary-700: #B16307;
$secondary-800: #935000;
$secondary-900: #6E3C00;

$transition: 0.3s;

body {
    background-color: $primary-800;
    color: $white;
    font-family: "Lexend", "Noto Sans TC", sans-serif;
}

a {
    text-decoration: none;
    color: $white;
    transition: $transition;
    &:hover {
        color: $secondary-500;
        text-decoration: none;
    }
}

input, button, select {
    outline: none;
    border: 0;
    background-color: transparent;
    color: $white;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}
input[type="number"] {
  -moz-appearance: textfield;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.container {
    padding-left: 20px;
    padding-right: 20px;
}

.header {
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;
    .container {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    &_top {
        background-color: rgba(15,45,60,0.8);
        padding: 16px 0;
    }
    &_logo {
        display: flex;
        img {
            width: 82px;
        }
        &_text {
            margin-left: 25px;
            padding-left: 25px;
            border-left: 0.5px solid $white;
            display: flex;
            align-items: center;
            h1 {
                font-size: 18px;
                margin: 0;
                span {
                    display: block;
                }
                .color {
                    &-blue {
                        color: $primary-100;
                    }
                    &-purple {
                        color: #EEAFFF;
                    }
                }
            }
        }
    }
    &_login {
        h2 {
            margin-bottom: 13px;
            font-size: 14px;
            font-weight: 700;
        }
        &_content {
            display: flex;
            gap: 16px;
            input {
                width: 180px;
                height: 40px;
                border-radius: 10px;
                background-color: $primary-900;
                padding: 10px 15px;
                color: $white;
                font-size: 14px;
                &::placeholder {
                    color: $primary-500;
                }
            }
            button {
                height: 40px;
                padding: 10px 20px;
                border-radius: 10px;
                background-color: $secondary-500;
                color: $white;
                font-size: 14px;
                font-weight: 700;
            }
        }
    }
    &_nav {
        height: 60px;
        background-color: rgba(72,50,79,0.8);
        .container {
            height: 100%;
        }
        ul {
            display: flex;
            height: 100%;
            width: 100%;
        }
        li {
            width: calc(100% / 8);
            height: 100%;
            a {
                display: flex;
                height: 100%;
                align-items: center;
                justify-content: center;
                position: relative;
                border-bottom: 2px solid transparent;
                &::after {
                    position: absolute;
                    content: "";
                    width: 1px;
                    height: 22px;
                    background-color: rgba(255,221,179,0.5);
                    top: 50%;
                    right: 0;
                    transform: translateY(-50%);
                }
                &.active {
                    color: $secondary-400;
                    border-color: $secondary-400;
                }
            }
            &:last-child {
                a {
                    &::after {
                        display: none;
                    }
                }
            }
        }
    }
    &_menu {
        position: relative;
        width: 27px;
        height: 20px;
        margin-left: 20px;
        z-index: 10;
        &_bar {
            width: 100%;
            height: 2px;
            position: absolute;
            background: $secondary-400;
            left: 0;
            box-shadow: 0 2px 5px rgba(0,0,0,0.25);
            transition: $transition;
            &.bar {
                &-top {
                    top: 0;
                }
                &-middle {
                    top: 50%;
                    transform: translateY(-50%);
                }
                &-bottom {
                    bottom: 0;
                }
            }
        }
        &.active {
            .header_menu_bar {
                top: 50%;
                left: 50%;
                &.bar {
                    &-top, &-middle {
                        transform: translate(-50%, -50%) rotate(45deg);
                    }
                    &-bottom {
                        transform: translate(-50%, -50%) rotate(-45deg);
                    }
                }
            }
        }
    }
    &_account {
        display: flex;
        align-items: center;
        gap: 40px;
        p {
            font-size: 22px;
            margin: 0;
        }
        a {
            font-size: 16px;
            color: $secondary-400;
            text-decoration: underline;
        }
    }
    @media screen and (max-width: 991px) {
        .container {
            max-width: inherit;
        }
        &_nav {
            position: fixed;
            max-width: 400px;
            width: 100%;
            height: calc(100% - 102px);
            top: 102px;
            right: 0;
            background-color: rgba(15,45,60,0.95);
            right: -400px;
            transition: $transition;
            .container {
                height: auto;
                display: block;
                padding: 20px;
            }
            ul {
                display: block;
                height: auto;
            }
            li {
                width: 100%;
                a {
                    padding: 10px;
                    position: relative;
                    &::after {
                        display: none;
                    }
                    &.active {
                        border-color: transparent;
                        &::before {
                            position: absolute;
                            content: "";
                            width: 4px;
                            height: 100%;
                            background-color: $secondary-400;
                            top: 0;
                            left: -20px;
                        }
                    }
                }
            }
            &.active {
                right: 0;
            }
        }
        &_account {
            padding-bottom: 20px;
            border-bottom: 1px solid rgba(255,255,255,0.2);
            margin-bottom: 20px;
            p {
                font-size: 18px;
                color: $primary-300;
            }
        }
    }
    @media screen and (max-width: 767px) {
        &_logo {
            img {
                width: 60px;
            }
            &_text {
                margin-left: 15px;
                padding-left: 15px;
                h1 {
                    font-size: 14px;
                    line-height: 1.6;
                }
            }
        }
    }
    @media screen and (max-width: 450px) {
        &_nav {
            top: 83px;
            height: calc(100% - 83px);
        }
    }
}

.main {
    margin-bottom: 120px;
    &-inner {
        padding-top: 162px;
    }
    @media screen and (max-width: 991px) {
        &-inner {
            padding-top: 102px;
        }
    }
    @media screen and (max-width: 450px) {
        &-inner {
            padding-top: 83px;
        }
    }
}

.banner {
    margin-bottom: 80px;
    &_swiper {
        &_item {
            position: relative;
            width: 100%;
            padding-bottom: 48%;
            >img {
                position: absolute;
                width: 100%;
                height: 100%;
                object-fit: cover;
                top: 0;
                left: 0;
            }
        }
        &_text {
            position: absolute;
            width: 100%;
            bottom: 6%;
            left: 0;
            h2 {
                color: #fff;
                margin: 0;
                font-size: 48px;
                font-weight: 400;
                text-shadow: 0 4px 4px rgba(0,0,0,0.7);
                line-height: 1.5;
            }
        }
        &_navigation {
            position: absolute;
            right: 0;
            bottom: 0;
            width: 100%;
            .container {
                display: flex;
                align-items: center;
                justify-content: flex-end;
            }
        }
        .swiper {
            &-button {
                &-next, &-prev {
                    position: static;
                    background-color: $primary-900;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    width: 40px;
                    height: 40px;
                    margin: 0;
                    transition: $transition;
                    svg {
                        width: 28px;
                        height: 28px;
                        path {
                            transition: $transition;
                        }
                    }
                    &::after {
                        display: none;
                    }
                    &:hover {
                        background-color: $secondary-400;
                        svg {
                            path {
                                stroke: $white;
                            }
                        }
                    }
                }
            }
            &-pagination {
                position: static;
                height: 40px;
                background-color: $primary-900;
                padding: 0 15px;
                display: flex;
                align-items: center;
                justify-content: center;
                color: $secondary-400;
                font-size: 20px;
                width: fit-content;
                &-current {
                    padding-right: 5px;
                    transition: $transition;
                }
                &-total {
                    padding-left: 5px;
                    transition: $transition;
                }
            }
        }
    }
    @media screen and (max-width: 767px) {
        &_swiper {
            &_item {
                padding-bottom: 120%;
            }
            &_text {
                bottom: 15%;
                .container {
                    max-width: inherit;
                }
                h2 {
                    font-size: 40px;
                }
            }
            &_navigation {
                .container {
                    max-width: inherit;
                }
            }
        }
    }
    @media screen and (max-width: 575px) {
        &_swiper {
            &_text {
                h2 {
                    font-size: 28px;
                }
            }
        }
    }
    @media screen and (max-width: 400px) {
        &_swiper {
            &_item {
                // padding-bottom: 100%;
            }
            &_text {
                h2 {
                    font-size: 22px;
                }
            }
        }
    }
}

.table {
    margin-bottom: 25px;
    padding: 0 20px;
    table {
        max-width: 1000px;
        width: 100%;
        margin: 0 auto;
        position: relative;
        z-index: 0;
        tr {
            border: 0;
            position: relative;
            &::after {
                position: absolute;
                content: "";
                width: 100%;
                height: 1px;
                background: linear-gradient(to right, rgba(255,255,255,0.3), transparent 100%);
                left: 0;
                bottom: 0;
            }
            &:first-child {
                &::after {
                    display: none;
                }
            }
        }
        th {
            width: calc(100% / 6);
            padding: 0 3px 15px;
            border: 0;
            &:first-child {
                .table_item {
                    background-color: $primary-200;
                    span {
                        color: $primary-900;
                    }
                }
            }
            &:nth-child(2) {
                .table_item {
                    background-color: $secondary-200;
                    span {
                        color: $secondary-900;
                    }
                }
            }
            &:nth-child(3) {
                .table_item {
                    background-color: #F4E3FA;
                    span {
                        color: #48324F;
                    }
                }
            }
            &:nth-child(4) {
                .table_item {
                    background-color: #D5EDC1;
                    span {
                        color: #376C0D;
                    }
                }
            }
            &:nth-child(5) {
                .table_item {
                    background-color: #F8BDBD;
                    span {
                        color: #6D1111;
                    }
                }
            }
            &:nth-child(6) {
                .table_item {
                    background-color: #EAD6FF;
                    span {
                        color: #1A0071;
                    }
                }
            }
        }
        td {
            padding: 8px;
            text-align: center;
            img {
                width: 30px;
                margin: 0 auto;
            }
            .btn {
                margin: 0 auto;
            }
            &:first-child {
                color: $primary-200;
            }
            &:nth-child(2) {
                color: $secondary-200;
            }
            &:nth-child(3) {
                color: #F4E3FA;
            }
            &:nth-child(4) {
                color: #D5EDC1;
            }
            &:nth-child(5) {
                color: #F8BDBD;
            }
        }
        &::after {
            position: absolute;
            content: "";
            width: calc(100% + 90px);
            height: calc(100% + 50px);
            background: linear-gradient(to bottom, rgba(255,255,255,0.12) 0%, transparent 100%);
            top: 50%;
            left: 50%;
            transform: translate(-52%, -50%) skewX(-6deg);
            z-index: -1;
        }
    }
    &_item {
        height: 50px;
        display: flex;
        align-items: center;
        justify-content: center;
        transform: skewX(-7deg);
        span {
            display: block;
            text-align: center;
            font-weight: 900;
            transform: skewX(7deg);
        }
    }
    @media screen and (max-width: 1199px) {
        table {
            &::after {
                display: none;
            }
        }
    }
    @media screen and (max-width: 767px) {
        table {
            td {
                font-size: 14px;
                white-space: nowrap;
                img {
                    width: 25px;
                }
                .btn {
                    padding: 8px;
                    span {
                        font-size: 14px;
                        white-space: nowrap;
                    }
                    img {
                        width: 18px;
                        right: -10px;
                    }
                }
            }
            th {
                padding: 0 1px;
                .table_item {
                    height: 45px;
                    padding: 0 5px;
                    span {
                        font-size: 14px;
                        white-space: nowrap;
                    }
                }
            }
        }
    }
    @media screen and (max-width: 400px) {
        table {
            th {
                .table_item {
                    span {
                        font-size: 12px;
                    }
                }
            }
            td {
                font-size: 12px;
                .btn {
                    padding: 5px;
                    span {
                        font-size: 12px;
                    }
                    img {
                        display: none;
                    }
                }
            }
        }
    }
}

.btn {
    padding: 8px 20px;
    background-color: $secondary-400;
    transform: skewX(-8deg);
    border-radius: 0;
    position: relative;
    display: block;
    width: fit-content;
    transition: $transition;
    color: $white;
    span {
        color: $white;
        text-shadow: 0 1px 2px rgba(0,0,0,0.25);
        transform: skewX(8deg);
        display: block;
    }
    img {
        width: 20px;
        filter: drop-shadow(0 1px 2px rgba(0,0,0,0.25));
        position: absolute;
        top: 50%;
        right: -15px;
        transform: translateY(-50%) skewX(8deg);
    }
    &:hover {
        background-color: $primary-300;
    }
}

.pagination {
    display: flex;
    align-items: center;
    justify-content: center;
    a {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 45px;
        height: 45px;
        color: $white;
        transform: skewX(5deg);
        transition: $transition;
        svg {
            width: 20px;
            height: 20px;
            path {
                transition: $transition;
            }
        }
    }
    li {
        transform: skewX(-5deg);
        background-color: $primary-900;
        transition: $transition;
        &.active {
            background-color: $secondary-400;
            a {
                text-shadow: 0 1px 3px rgba(0,0,0,0.15);
                font-weight: 700;
            }
        }
        &:hover {
            background-color: $secondary-400;
            svg {
                path {
                    stroke: $white;
                }
            }
        }
    }
    @media screen and (max-width: 767px) {
        a {
            width: 35px;
            height: 35px;
        }
    }
}

.footer {
    padding: 40px 0;
    background-color: #4E463F;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 40px;
    &_qrcode {
        img {
            width: 100px;
            margin: 0 auto 8px;
        }
        p {
            text-align: center;
            margin: 0;
            color: #80FFBB;
        }
    }
    &_ad {
        width: 100px;
        &_item {
            width: 100%;
            padding-bottom: 100%;
            position: relative;
            border-radius: 5px;
            overflow: hidden;
            >img {
                position: absolute;
                width: 100%;
                height: 100%;
                object-fit: cover;
                top: 0;
                left: 0;
            }
        }
        .swiper-pagination {
            position: static;
            margin-top: 8px;
            height: 24px;
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 4px;
            &-bullet {
                margin: 0 !important;
                background-color: rgba(255,255,255,0.2);
                opacity: 1;
                width: 4px;
                height: 4px;
                &-active {
                    background-color: $secondary-300;
                }
            }
        }
    }
    @media screen and (max-width: 575px) {
        gap: 20px;
    }
}

.modal {
    &-content {
        background-color: $primary-800;
    }
    &-dialog {
        margin: 100px auto 20px;
        max-width: calc(100% - 40px);
    }
    &-header {
        border-color: rgba(255,255,255,0.3);
    }
    &-footer {
        border: 0;
        justify-content: center;
    }
    &-title {
        color: $secondary-500;
    }
    &-body {
        padding-top: 2rem;
    }
}

#loginmodal {
    .input-item {
        label {
            width: 80px;
        }
        input {
            width: calc(100% - 80px);
        }
    }
}

.input-item {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    label {
        width: 100px;
        padding-right: 15px;
        display: flex;
        justify-content: center;
        gap: 5px;
        color: $secondary-300;
        span {
            color: #FF6464;
        }
    }
    input {
        width: calc(100% - 100px);
        border-radius: 10px;
        height: 45px;
        background-color: $primary-900;
        padding: 0 15px;
    }
}

.buy {
    padding-top: 35px;
    margin-bottom: 75px;
    &_title, &_item {
        display: flex;
        align-items: center;
        border: 1px solid $secondary-200;
        text-align: center;
    }
    &_title {
        padding: 13px 0;
        margin-bottom: 12px;
        filter: drop-shadow(1px 1px 8px rgba(255,229,32,0.73));
        h3 {
            color: $secondary-200;
            font-size: 20px;
            margin: 0;
            text-align: center;
        }
    }
    &_name, &_descript, &_price, &_action {
        width: 25%;
        padding: 0 5px;
    }
    &_item {
        margin-bottom: 12px;
        padding: 25px 0;
        p {
            margin: 0;
            font-size: 20px;
        }
        .btn, select {
            margin: 0 auto;
        }
        select {
            appearance: none;
            width: 100%;
            border: 1px solid $secondary-300;
            border-radius: 10px;
            padding: 10px 15px;
            background-image: url(../img/chevron-down.svg);
            background-position: calc(100% - 15px) center;
            background-repeat: no-repeat;
            background-size: 15px;
        }
    }
    &_action {
        >p {
            font-size: 14px;
            color: $secondary-400;
        }
    }
    &.login {
        .buy {
            &_price {
                display: flex;
                gap: 20px;
                justify-content: center;
                width: 32%;
            }
            &_item {
                .btn {
                    span {
                        letter-spacing: 0.6em;
                        transform: translateX(5px) skewX(8deg);
                    }
                }
            }
            &_name {
                width: 15%;
            }
            &_descript {
                width: 32%;
            }
            &_action {
                width: 21%;
            }
        }
    }
    @media screen and (max-width: 991px) {
        &_title {
            display: none;
        }
        &_item {
            display: block;
            padding: 15px;
        }
        &_name, &_descript, &_price, &_action {
            width: 100% !important;
        }
        &_name {
            font-size: 24px;
            padding-bottom: 10px;
            border-bottom: 1px solid rgba(255,255,255,0.1);
            color: $primary-100;
        }
        &_descript {
            text-align: left;
            padding: 10px 0;
        }
        &_price {
            margin-bottom: 20px;
        }
    }
}

.inner-title {
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 25px;
}

.flow {
    .inner-title {
        margin-bottom: 40px;
    }
    &_item {
        display: flex;
        margin-bottom: 80px;
        &:nth-child(odd) {
            .flow {
                &_num {
                    order: 1;
                    background-image: url(../img/flow-deco-1.svg);
                    &::before {
                        right: calc(100% - 3px);
                    }
                }
                &_pic {
                    order: 2;
                    padding-left: 55px;
                }
            }
        }
        &:nth-child(even) {
            .flow {
                &_num {
                    order: 2;
                    background-image: url(../img/flow-deco-2.svg);
                    &::before {
                        left: calc(100% - 3px);
                    }
                }
                &_pic {
                    order: 1;
                    padding-right: 55px;
                }
            }
        }
    }
    &_num {
        width: 130px;
        height: 130px;
        background-position: center;
        background-size: contain;
        background-repeat: no-repeat;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 64px;
        font-weight: 900;
        text-shadow: 0 2px 15px rgba(255,229,32,0.47);
        font-family: "Heebo", sans-serif;
        position: relative;
        &::before {
            position: absolute;
            content: "";
            width: calc((100vw - 1320px) / 2 + 23px);
            height: 3px;
            background-color: $secondary-300;
            top: 50%;
            transform: translateY(-50%);
        }
    }
    &_pic {
        width: calc(100% - 130px);
        padding-top: 65px;
        img {
            width: 100%;
            box-shadow: 0 0 25px rgba(255,255,255,0.4);
            border-radius: 10px;
        }
        &.has-title {
            padding-top: 18px;
            h3 {
                width: fit-content;
                padding: 23px 30px;
                border-radius: 20px;
                margin: 0 auto 63px;
                color: $white;
                font-size: 30px;
                text-shadow: 0 0px 10px rgba(255, 187, 0, 0.5);
                filter: drop-shadow(0 5px 20px #FFBB00);
                border: 2px solid $white;
            }
        }
    }
    @media screen and (max-width: 1399px) {
        &_num {
            &::before {
                width: calc((100vw - 1140px) / 2 + 23px);
            }
        }
    }
    @media screen and (max-width: 1199px) {
        &_num {
            &::before {
                width: calc((100vw - 960px) / 2 + 23px);
            }
        }
    }
    @media screen and (max-width: 991px) {
        &_num {
            width: 100px;
            height: 100px;
            font-size: 48px;
            &::before {
                width: calc((100vw - 720px) / 2 + 23px);
            }
        }
        &_pic {
            padding-top: 50px;
            width: calc(100% - 100px);
            &.has-title {
                h3 {
                    font-size: 22px;
                    padding: 18px;
                }
            }
        }
    }
    @media screen and (max-width: 767px) {
        &_num {
            margin-bottom: 30px;
            background-image: url(../img/flow-deco-1.svg) !important;
            &::before {
                width: calc((100vw - 540px) / 2 + 23px);
                right: 100% !important;
                left: inherit !important;
            }
        }
        &_item {
            display: block;
        }
        &_pic {
            padding: 0 !important;
            width: 100%;
        }
    }
    @media screen and (max-width: 575px) {
        &_num {
            width: 80px;
            height: 80px;
            font-size: 32px;
            &::before {
                width: 20px;
            }
        }
        &_pic {
            &.has-title {
                h3 {
                    font-size: 18px;
                    margin-bottom: 20px;
                    border-width: 1px;
                    border-radius: 10px;
                    padding: 14px;
                }
            }

        }
    }
}

.signup {
    &_banner {
        position: relative;
        padding-bottom: 27.5%;
        width: 100%;
        >img {
            position: absolute;
            width: 100%;
            height: 100%;
            object-fit: cover;
            top: 0;
            left: 0;
        }
        &_title {
            position: absolute;
            width: 100%;
            left: 0;
            bottom: 3vw;
            h1 {
                font-size: 40px;
                color: $white;
                text-shadow: 0 4px 4px rgba(0,0,0,0.7);
                margin: 0;
                font-weight: normal;
                line-height: 1.5;
            }
        }
    }
    &_form {
        max-width: 960px;
        width: 100%;
        margin: 105px auto 185px;
        padding: 0 20px;
        .row {
            margin-bottom: 40px;
        }
        &_term {
            margin-bottom: 20px;
            padding: 30px;
            border-radius: 10px;
            background-color: $secondary-50;
            height: 250px;
            overflow-y: auto;
            h2 {
                color: $secondary-700;
                font-size: 18px;
                margin-bottom: 15px;
                font-weight: 700;
            }
            p {
                color: $primary-900;
                margin: 0;
            }
        }
        &_checkbox {
            display: flex;
            gap: 10px;
            margin-bottom: 60px;
            input {
                width: 20px;
                height: 20px;
                position: relative;
                z-index: 0;
                &::after {
                    position: absolute;
                    content: "";
                    width: 100%;
                    height: 100%;
                    background-color: $primary-900;
                    top: 0;
                    left: 0;
                    z-index: 1;
                }
                &:checked {
                    &::after {
                        display: none;
                    }
                }
            }
            label {
                font-size: 14px;
            }
        }
        .btn {
            margin: 0 auto;
        }
    }
}

.order {
    margin-bottom: 70px;
    padding-top: 35px;
    &_content {
        display: flex;
        gap: 10px;
    }
    &_title {
        filter: drop-shadow(1px 1px 8px rgba(255,229,32,0.73));
    }
    &_title, &_item {
        width: 100%;
        padding: 10px 20px;
        border: 1px solid $secondary-200;
        h3, p {
            height: 55px;
            text-align: center;
            margin: 0;
            font-size: 20px;
            display: flex;
            align-items: center;
            justify-content: center;
            &:first-child {
                border-bottom: 1px solid rgba(255,248,240,0.3);
            }
        }
        h3 {
            color: $secondary-200;
        }
    }
    @media screen and (max-width: 991px) {
        &_title {
            display: none;
        }
        &_content {
            display: block;
        }
        &_item {
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding: 15px;
            margin-bottom: 10px;
            p {
                height: auto;
                &:first-child {
                    border: 0;
                    color: $secondary-300;
                }
            }
        }
    }
}

.record {
    &_item {
        width: calc(100% / 6);
        h3 {
            display: none;
        }
    }
    @media screen and (max-width: 991px) {
        &_item {
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding: 10px 0;
            border-bottom: 1px solid rgba(255,255,255,0.2);
            h3, p {
                font-size: 16px;
                margin: 0;
            }
            h3 {
                display: block;
                color: $primary-200;
            }
            &:last-child {
                border: 0;
            }
        }
    }
}

.news {
    padding: 40px 0;
    .container {
        max-width: 900px;
    }
    &_item {
        display: flex;
        align-items: center;
        position: relative;
        padding: 15px 0;
        &::after {
            position: absolute;
            content: "";
            width: 100%;
            height: 1px;
            bottom: 0;
            left: 0;
            background: linear-gradient(to right, rgba(255,255,255,0.3), transparent 100%);
        }
        &:nth-child(odd) {
            .news_date {
                background-color: #A4D4EC;
                >p {
                    color: #000F17;
                }
            }
        }
        &:nth-child(even) {
            .news_date {
                background-color: #EAD6FF;
                >p {
                    color: #1A0071;
                }
            }
        }
    }
    &_date {
        padding: 10px 20px;
        transform: skewX(-7deg);
        width: 140px;
        >p {
            margin: 0;
            transform: skewX(7deg);
            font-weight: 600;
            text-align: center;
        }
    }
    &_title {
        width: calc(100% - 140px);
        margin: 0;
        padding-left: 20px;
        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 2;
        overflow: hidden;
    }
    &-detail {
        &_title {
            font-size: 40px;
            font-weight: 400;
            padding-bottom: 15px;
            position: relative;
            &::after {
                position: absolute;
                content: "";
                width: 100%;
                height: 1px;
                bottom: 0;
                left: 0;
                background: linear-gradient(to right, rgba(255,255,255,0.3), transparent 100%);
            }
        }
        &_date {
            font-size: 14px;
            margin-top: 10px;
            margin-bottom: 15px;
            color: $secondary-400;
        }
        &_content {
            line-height: 1.8;
            text-align: justify;
            margin-bottom: 30px;
        }
        .btn {
            margin: 0 auto;
        }
    }
    @media screen and (max-width: 767px) {
        &_item {
            display: block;
        }
        &_title {
            width: 100%;
            padding: 15px 0 0;
        }
        &_date {
            padding: 8px 15px;
            width: 120px;
            >p {
                font-size: 14px;
            }
        }
        &-detail {
            &_title {
                font-size: 36px;
            }
        }
    }
}